In [1]:
import pandas as pd
from pandas.io.json import json_normalize
import json
from datetime import datetime
import numpy as np

In [2]:
# Load in json data
receipts = pd.read_json("receipts.json", lines = True)
brands = pd.read_json("brands.json", lines = True)
users = pd.read_json("users.json", lines = True)

## Receipts

In [3]:
receipts

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,{'$oid': '603cc0630a720fde100003e6'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614594147000},{'$date': 1614594147000},NaN,{'$date': 1614594148000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,{'$oid': '603d0b710a720fde1000042a'},NaN,NaN,{'$date': 1614613361873},{'$date': 1614613361873},NaN,{'$date': 1614613361873},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,{'$oid': '603cf5290a720fde10000413'},NaN,NaN,{'$date': 1614607657664},{'$date': 1614607657664},NaN,{'$date': 1614607657664},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,{'$oid': '603ce7100a7217c72c000405'},25.0,COMPLETE_NONPARTNER_RECEIPT,{'$date': 1614604048000},{'$date': 1614604048000},NaN,{'$date': 1614604049000},NaN,25.0,{'$date': 1597622400000},2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,{'$oid': '603c4fea0a7217c72c000389'},NaN,NaN,{'$date': 1614565354962},{'$date': 1614565354962},NaN,{'$date': 1614565354962},NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [4]:
receipts["_id"] = receipts["_id"].astype(str).str[10:-2]

# make createDate into a date
receipts["createDate"] = receipts["createDate"].astype(str).str[10:-1]
receipts["createDate"] = receipts["createDate"].astype(float)/1000
receipts["createDate"] = receipts["createDate"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%m-%d-%Y'))

# make dateScanned into a date
receipts["dateScanned"] = receipts["dateScanned"].astype(str).str[10:-1]
receipts["dateScanned"] = receipts["dateScanned"].astype(float)/1000
receipts["dateScanned"] = receipts["dateScanned"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%m-%d-%Y'))

# make finishedDate into a date
receipts["finishedDate"] = receipts["finishedDate"].astype(str).str[10:-1]
# some values are missing, so replace those with NaN 
receipts.finishedDate.replace("", np.nan, inplace = True)
# replace the NaN values to 0000000000000 so that a date will be created
receipts.finishedDate.fillna("0000000000000", inplace = True)
receipts["finishedDate"] = receipts["finishedDate"].astype(float)/1000
receipts["finishedDate"] = receipts["finishedDate"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%m-%d-%Y'))

# make finishedDate into a date
receipts["modifyDate"] = receipts["modifyDate"].astype(str).str[10:-1]
receipts["modifyDate"] = receipts["modifyDate"].astype(float)/1000
receipts["modifyDate"] = receipts["modifyDate"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%m-%d-%Y'))

# make finishedDate into a date
receipts["pointsAwardedDate"] = receipts["pointsAwardedDate"].astype(str).str[10:-1]
receipts.pointsAwardedDate.replace("", np.nan, inplace = True)
receipts.pointsAwardedDate.fillna("0000000000000", inplace = True)
receipts["pointsAwardedDate"] = receipts["pointsAwardedDate"].astype(float)/1000
receipts["pointsAwardedDate"] = receipts["pointsAwardedDate"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%m-%d-%Y'))

# make finishedDate into a date
receipts["purchaseDate"] = receipts["purchaseDate"].astype(str).str[10:-1]
# similar to before, replace any blank values to NaN and change them to 0000000000000
receipts.purchaseDate.replace("", np.nan, inplace = True)
receipts.purchaseDate.fillna("0000000000000", inplace = True)
receipts["purchaseDate"] = receipts["purchaseDate"].astype(float)/1000
receipts["purchaseDate"] = receipts["purchaseDate"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%m-%d-%Y'))

# Replace any values that were initially missing to NaT
receipts.loc[receipts["finishedDate"] == "01-01-1970", "finishedDate"] = pd.NaT
receipts.loc[receipts["pointsAwardedDate"] == "01-01-1970", "pointsAwardedDate"] = pd.NaT
receipts.loc[receipts["purchaseDate"] == "01-01-1970", "purchaseDate"] = pd.NaT

receipts

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",01-03-2021,01-03-2021,01-03-2021,01-03-2021,01-03-2021,500.0,01-03-2021,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",01-03-2021,01-03-2021,01-03-2021,01-03-2021,01-03-2021,150.0,01-02-2021,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,01-03-2021,01-03-2021,NaT,01-03-2021,NaT,5.0,01-03-2021,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,01-03-2021,01-03-2021,01-03-2021,01-03-2021,01-03-2021,5.0,01-03-2021,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,01-03-2021,01-03-2021,01-03-2021,01-03-2021,01-03-2021,5.0,01-02-2021,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,03-01-2021,03-01-2021,NaT,03-01-2021,NaT,25.0,08-17-2020,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1115,603d0b710a720fde1000042a,NaN,NaN,03-01-2021,03-01-2021,NaT,03-01-2021,NaT,NaN,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1116,603cf5290a720fde10000413,NaN,NaN,03-01-2021,03-01-2021,NaT,03-01-2021,NaT,NaN,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33
1117,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,03-01-2021,03-01-2021,NaT,03-01-2021,NaT,25.0,08-17-2020,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33
1118,603c4fea0a7217c72c000389,NaN,NaN,03-01-2021,03-01-2021,NaT,03-01-2021,NaT,NaN,NaT,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33

In [5]:
# Save to a csv to use later for data exploration
receipts.to_csv("receipts.csv", index = False)

## Brands

In [6]:
brands["_id"] = brands["_id"].astype(str).str[10:-2]

# the cpg column is in a dictionary. This takes it out of that format so that we can use the cpg information
temp = brands["cpg"].apply(pd.Series)
brands["cpg_id"] = temp["$id"]
brands["cpg_ref"] = temp["$ref"]
brands["cpg_id"] = brands["cpg_id"].astype(str).str[10:-2]
brands

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode,cpg_id,cpg_ref
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN,601ac114be37ce2ead437550,Cogs
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS,5332f5fbe4b03c9a25efd0ba,Cogs
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,601ac142be37ce2ead437559,Cogs
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,601ac142be37ce2ead437559,Cogs
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,5332fa12e4b03c9a25efd1e7,Cogs
...,...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...",test brand @1601644365844,NaN,NaN,5f77274dbe37ce6b592e90bf,Cogs
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...",Dippin DotsÂ® Cereal,NaN,DIPPIN DOTS CEREAL,53e10d6368abd3c7065097cc,Cogs
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,"{'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...",test brand @1598639215217,NaN,TEST BRANDCODE @1598639215217,5332fa12e4b03c9a25efd1e7,Cogs
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...",LIPTON TEA Leaves,0.0,LIPTON TEA Leaves,5332f5f6e4b03c9a25efd0b4,Cogs
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,"{'$id': {'$oid': '6026d757be37ce6369301467'}, ...",test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644,6026d757be37ce6369301467,Cogs

In [7]:
brands.to_csv("brands.csv", index = False)

In [8]:
brands.fillna('', inplace = True)
brands["cpg"] = brands["cpg"].astype(str)
brands["barcode"] = brands["barcode"].astype(str)
brands["topBrand"] = brands["topBrand"].astype(str)
brands

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode,cpg_id,cpg_ref
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,,601ac114be37ce2ead437550,Cogs
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS,5332f5fbe4b03c9a25efd0ba,Cogs
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,601ac142be37ce2ead437559,Cogs
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,601ac142be37ce2ead437559,Cogs
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,5332fa12e4b03c9a25efd1e7,Cogs
...,...,...,...,...,...,...,...,...,...,...
1162,5f77274dbe37ce6b592e90c0,511111116752,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '5f77274dbe37...",test brand @1601644365844,,,5f77274dbe37ce6b592e90bf,Cogs
1163,5dc1fca91dda2c0ad7da64ae,511111706328,Breakfast & Cereal,,"{'$ref': 'Cogs', '$id': {'$oid': '53e10d6368ab...",Dippin DotsÂ® Cereal,,DIPPIN DOTS CEREAL,53e10d6368abd3c7065097cc,Cogs
1164,5f494c6e04db711dd8fe87e7,511111416173,Candy & Sweets,CANDY_AND_SWEETS,"{'$ref': 'Cogs', '$id': {'$oid': '5332fa12e4b0...",test brand @1598639215217,,TEST BRANDCODE @1598639215217,5332fa12e4b03c9a25efd1e7,Cogs
1165,5a021611e4b00efe02b02a57,511111400608,Grocery,,"{'$ref': 'Cogs', '$id': {'$oid': '5332f5f6e4b0...",LIPTON TEA Leaves,0.0,LIPTON TEA Leaves,5332f5f6e4b03c9a25efd0b4,Cogs
1166,6026d757be37ce6369301468,511111019930,Baking,BAKING,"{'$id': {'$oid': '6026d757be37ce6369301467'}, ...",test brand @1613158231643,0.0,TEST BRANDCODE @1613158231644,6026d757be37ce6369301467,Cogs

## Users

In [9]:
# remove the unnecessary text from each of the columns
users["_id"] = users["_id"].astype(str).str[10:-2]
users["createdDate"] = users["createdDate"].astype(str).str[10:-1]
users["lastLogin"] = users["lastLogin"].astype(str).str[10:-1]

# make the createdDate into a date
users["createdDate"] = users["createdDate"].astype(float)/1000
users["createdDate"] = users["createdDate"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%m-%d-%Y'))

# make the lastLogin into a date
# similar to what was done in the brands, replace blank values with NaN and then switch with 0000000000000
users.lastLogin.replace("", np.nan, inplace = True)
users.lastLogin.fillna("0000000000000", inplace = True)
users["lastLogin"] = users["lastLogin"].astype(float)/1000
users["lastLogin"] = users["lastLogin"].apply(lambda x: datetime.utcfromtimestamp(x).strftime('%m-%d-%Y'))

# changes any values that were originally missing to be NaT
users.loc[users["lastLogin"] == "01-01-1970", "lastLogin"] = pd.NaT

users

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,01-03-2021,01-03-2021,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,01-03-2021,01-03-2021,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,01-03-2021,01-03-2021,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,01-03-2021,01-03-2021,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,01-03-2021,01-03-2021,consumer,Email,WI
...,...,...,...,...,...,...,...
490,54943462e4b07e684157a532,True,12-19-2014,03-05-2021,fetch-staff,NaN,NaN
491,54943462e4b07e684157a532,True,12-19-2014,03-05-2021,fetch-staff,NaN,NaN
492,54943462e4b07e684157a532,True,12-19-2014,03-05-2021,fetch-staff,NaN,NaN
493,54943462e4b07e684157a532,True,12-19-2014,03-05-2021,fetch-staff,NaN,NaN
494,54943462e4b07e684157a532,True,12-19-2014,03-05-2021,fetch-staff,NaN,NaN

In [10]:
# Save to a csv to use later for data exploration
users.to_csv("users.csv", index = False)